/*Main Styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(43, 65, 98), rgb(104, 148, 169));
}

html, a {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    font-size: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
h1:hover {

    transform: translateY(-10px);
}

main header {
    padding: 20px;
}

.title {
    min-height: 100vh;
    background-image: url('images/fulls/08.jpg');
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center;
}

.title h2 {
    color: white;
    font-size: 3rem;
    padding-left: 40px;
    padding-top: 25%;
}

.intro {         
    display: grid;
    color: white;
    padding: 20px;
    width: 50%;
    height: 100vh;
}

.intro p {
    font-size: 1.5rem;
    margin: 2%;
    width: 100%;
    padding-top:15% ;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#sidebar a,
.service-box h3,
button,
.services-section h2,
.contact-title h2 {
    color: rgb(43, 65, 98);
}

/* Sidebar Styles */
#hamburger {
    margin: 1rem 2rem 0 0;
    cursor: pointer;
    z-index: 2;
}

i.icons {
    margin-right: 1rem;
    overflow: visible;
}

#sidebar {
    width: 0px;
    height: 100vh;
    color: rgb(43, 65, 98);
    background-color: rgb(247, 247, 247);
    z-index: 2; 
    overflow: hidden;
    transition: width .5s ease;
    white-space: nowrap; 
}

#hamburger, #sidebar {
    position: fixed;
    top: 0;
    right: 0;

}

#sidebar ul {
    list-style-type: none;
}

#sidebar a {
    text-decoration: none;
}

#sidebar li {
    line-height: 2rem;
}

.address, .major {
    padding-left: 1.5rem;
}

.major {
    padding: 3rem 0 3rem 1.5rem;
}

ul.nav {
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.contact {
    padding-left: 3rem;
}

section .major {
    border-top: 2px dotted rgb(244, 209, 174);
}

#sidebar section {
    padding-top: 5rem;
}

#sidebar a:hover {
    background-color: rgb(244, 209, 174);
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

/* Slideshow Styles */
.slideshow {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: auto;
    padding: 0 20px 0 20px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
}

.slideshow img:first-child {
    z-index: 1;
}

.navigation-button {
    text-align: center;
    position: relative;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
    .title h2{
        font-size: 2.5rem;
        padding-left: 20px;
    }

    .intro, .slideshow {
        width: 100%;
    }

    .intro p {
        font-size: 1.5rem;
    }
}

/*Services*/

.services {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    background-color: white;
}

.services-section h2{
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 2.5rem;
    padding: 20px;
}
.service-box {
    flex: 1 1 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
    text-align: center; /* Centers the text inside the box */
}

.service-box:hover {
    transform: translateY(-10px); /*lifts the box a bit on hover*/
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}


.service-box p {
    color: rgb(102, 102, 102); /* Lighter text color for the description */
}


/*Contact me*/
/* Contact Section Styles */
.contact-me {
    display: flex;
    justify-content: center;
    min-height: 80vh; /* Full viewport height */
}

.contact-form {
    width: 100%; /* Full width on smaller screens */
    max-width: 500px; /* Optimal reading width */
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Soft shadow for 3D effect */
    border-radius: 10px;
    margin: auto; /* Centers the form vertically and horizontally */
}

.contact-title h2 {
    font-size: 2.4rem; /* Larger font size for emphasis */
    color: white;
    margin-bottom: 1rem; /* 16px bottom margin */
    text-align: center;
    border-bottom: 1px solid black;
}

.contact-input, .contact-textarea {
    width: 100%;
    padding: 12px 15px; /* Sufficient padding for easy interaction */
    margin-bottom: 15px; /* Uniform margin for clean spacing */
    border: 2px solid #ddd; /* Subtle border */
    border-radius: 8px; /* Modern rounded corners */
    font-size: 1rem; /* Adequate font size for readability */
    transition: border-color 0.3s; /* Smooth transition for interactive elements */
}

.contact-input:focus, .contact-textarea:focus {
    border-color: #0056b3; /* Highlight color when focused */
}

.contact-textarea {
    height: 120px; /* Adjusted for textual input space */
    resize: vertical; /* Allows resizing only vertically */
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(112, 193, 179);
    transition: 0.7s;
    color: white;
    font-size: 1.1rem; /* Slightly larger font for button */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: rgb(241, 189, 134);
    transition: 0.7s;
}
.fa-arrow-right{
    padding-left: 10px;
}